[Unit]
Description=uWSGI instance to serve word2wiz

[Service]
ExecStart=/bin/bash -c 'cd /var/www/word2wiz; source word2wizenv/bin/activate; uwsgi --ini config/uwsgi/apps-available/uwsgi.ini'

[Install]
WantedBy=multi-user.target
