<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Word2Wiz - Converting MicroSoft Word documents to Wizard configurations</title>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/dark-hive/jquery-ui.css">
		<!-- Google web fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

		<!-- The main CSS file -->
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<form id="upload" method="post" action="upload" enctype="multipart/form-data">
			<div id="note"></div>
			<div id="drop">
				Drop Here

				<a class="browse-button">Browse</a>
				<input type="file" name="upl" multiple />
			</div>

			<ul>
				<!-- The file uploads will be shown here -->
			</ul>

		</form>
		<!-- Error dialog -->
		<div id="error-dialog" title="Errors"><p></p></div>
		<footer>
			<img src="static/img/Logo TheConsultancyFirm (1).png"></img>
		</footer>

		<!-- JavaScript Includes -->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="static/js/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="static/js/jquery.ui.widget.js"></script>
		<script src="static/js/jquery.iframe-transport.js"></script>
		<script src="static/js/jquery.fileupload.js"></script>
		
		<!-- Our main JS file -->
		<script src="static/js/script.js"></script>
	</body>
</html>
